html{
	font-size: 16px;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header
{
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	margin-bottom: 10px;

	/* Make the masthead heading the same height as the navigation */
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
		padding-bottom: 19px;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header{
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 30px;
	}
}

@import "common/mixins";
@import "common/loader";
@import "common/modal";
@import "common/paginator";
@import "common/utils";
@import "common/images-grid";
@import "auth/auth";
@import "auth/verify";
@import "auth/providers";
@import "auth/login";
@import "schedules/schedules";
@import "movies/movies";
@import "movies/movie";
@import "shows/show";


