@mixin vertical-centring-before(){
	position: relative;
	display: inline;

	&:before{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	& > div{
		display: inline-block;
		vertical-align: middle;
	}
}

@mixin placeholder-repeater() {
	&::-webkit-input-placeholder {
		color: rgba(200, 200, 200, 1);
	}

	&::-moz-placeholder {
		color: rgba(200, 200, 200, 1);
	}

	&:-moz-placeholder {
		color: rgba(200, 200, 200, 1);
	}

	&:-ms-input-placeholder {
		color: rgba(200, 200, 200, 1);
	}
}

@mixin clickable-element(){
	cursor: pointer;

	&:hover{
		opacity: 0.8;
	}
}

@mixin push-for-float {
	&:after {
		content: '';
		clear: both;
		display: table;
	}
}