<div class="welcome-container container">
	<div class="text-center">
		<div class="first-caption">
			<h1>Welcome to FOX</h1>
			<h4>(marketing message)</h4>
		</div>

		<div class="second-caption">
			<h2>Do you have Cable TV? </h2>
			<h5>Verify your operator</h5>
		</div>
		<a role="button" ui-sref="root.providers" class="btn btn-default btn-lg go-unbundled-button">GET STARTED</a>
	</div>

	<div  class="text-center welcome-footer">
		<h2>No Cable TV</h2>
		<a role="button" ui-sref="root.unbundled" >
			<h5>Access Fox Premium</h5>
		</a>
	</div>
</div>
