<div class = "images-grid-container">
	<div class = "row">
		<div class = "col-md-3 col-sm-6 movie-item"
			 ng-click = "navigateToItem(item)"
			 ng-repeat="item in dataPortion">
			<div class="poster-container">
				<div class = "title" ng-show = "!item.image">
					{{::item.title}}
				</div>

				<div class="poster"
					 resize-mode = "{{resizeMode}}"
					 image-load-height-resize="{{item.image}}">
				</div>
			</div>
			<div ng-show = "item.isEpisode">
				{{::item.episodeId}}
			</div>
		</div>
	</div>

	<div paginator = "{{paginationConfig.name}}"
		 show-more-button = "paginationConfig.showMoreButton"
		 page-counter = "paginationConfig.currentPage"
		 max-value = "paginationConfig.maxValue"
		 mode = "paginationConfig.mode"
		 update-request = "paginationConfig.needMoreData"
		 per-pages-array = "paginationConfig.perPagesArray"
		 paginate-me = "allData"
		 result = "dataPortion">
	</div>
</div>