.welcome-container {
	.first-caption {
		margin: 7em 0;
	}

	.second-caption {
		margin-bottom: 1em;
	}

	.go-unbundled-button {
		margin: 1em;
	}

	.welcome-footer {
		border-top: 1px solid #aaaaaa;
		padding: 4em;
	}
}