.login-container{
	text-align: center;
	width: 100%;
	height: 100%;

	.login-form{
		display: inline-block;
		max-width: 350px;
		width: 100%;
		padding-top: 80px;

		input{
			padding: 10px 15px;
			width: 100%;
			@include placeholder-repeater();
			font-size: 1.125rem;
			border: 1px solid rgba(178, 178, 178, 1);
			margin-bottom: 35px;
		}

		button{
			margin-top: 20px;

		}
	}
}