<div class = "fullscreen-loader-container" loader ng-show="showFullScreenLoader"></div>

<div class="header">
	<div class="navbar" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<nav>
						<ul class="nav navbar-nav">
							<li><a role="button" ng-show="isBackAvailable()" ng-click="back()">Back</a></li>
							<li><a role="button" ui-sref="root.profile">Profile</a></li>
							<li><a role="button" ui-sref="root.schedules">Schedule POC</a></li>
							<li><a role="button" ui-sref="root.shows">TV Shows POC</a></li>
							<li><a role="button" ui-sref="root">Main</a></li>
							<li><a role="button" ui-sref="root.search">Search</a></li>
							<li><a role="button" ui-sref="root.settings">Settings</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-4">
					<a href="#">
						<span class="glyphicon glyphicon-search"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div ui-view='mainContent' class="container-fluid"></div>

