<div class="movies-container container">
	<div class="row">
		<div class="col-md-12">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" autofocus placeholder="SEARCH FOR A MOVIE, SHOW OR EVENT" ng-model="search.searchStr">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>



	<div class="movies-container container"
		 images-grid
		 additional-data = "search"
		 controller-name="SearchGridCtrl">

	</div>

	<div ng-if="search.searchStr.length > 2 && !search.result.length">
		<h3 class="text-center">Nothing found for: {{search.searchStr}}</h3>
	</div>

</div>
