<div>
	<h1>{{title}}</h1>

	<div class="row">
		<div class="col-md-6">
			<h2>{{provider.title}}</h2>

			<p>Login to your operator to verify fully.</p>
			<button class="btn-info btn">Login</button>
		</div>
		<div class="col-md-6">
			<p>CON'T KNOW YOUR INFO?</p>

			<p>Verify for 7 days by turning to <b>FOX</b> on your TV and click "Listen"</p>
			<button class="btn-info btn">Listen</button>
		</div>
	</div>
	<br><br><br><br><br>

	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn-info btn">Validate later</button>
		</div>
	</div>


</div>
