<div id="welcome-page">
	<div class="text-center">
		<div id="first-caption">
			<h1>Welcome to FOX</h1>
			<h4>(marketing message)</h4>
		</div>

		<div class="second-caption">
			<h2>Do you have Cable TV? </h2>
			<h5>Verify your operator</h5>
		</div>
		<a id="go-unbundled-button" role="button" ui-sref="provider" class="btn btn-default btn-lg">GET STARTED</a>
	</div>

	<div id="welcome-footer" class="text-center" ng-click="welcome.goUnbundled()">
		<h2>No Cable TV</h2>
		<h5>Access Fox Premium</h5>
	</div>
</div>
